.container {
  border: none;
  margin-top: 2rem;
  width: 250px;
  height: 50px;
  padding: 3px;
  background-color: white;
  border-radius: 8px;
  border-image: linear-gradient(to right, rgb(31, 31, 206), rgb(55, 135, 226)) 1;
  display: flex;
  align-items: center;
}

.container:hover {
  cursor: pointer;
}

.googleContainer {
  width: 50px;
  margin-right: 7px;
  margin-left: 2px;
  display: flex;
  justify-content: center;
}
.googleIcon {
  width: 30px;
  height: 30px;
}
.signIn {
  margin: 0;
  font-size: 17px;
  margin-right: 6px;
  color: linear-gradient(to right, darkblue, rgb(55, 135, 226)) 1;
  background: linear-gradient(to right, darkblue 0%, #330867 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
