@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(130deg, #5e5c5c, #9dc5c3);
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
